#hour,
#minute,
#second {
  position: absolute;
  transform-origin:bottom;
  background: black;
  border-radius: 10px;
}
.clock {
  position: relative;
  margin: auto;
  background-image: url("clock.png");
  background-repeat: no-repeat;
  height: 40vw;
  width: 40vw;
  background-size: 100%;
}
#hour{
    position:absolute;
    top: 24.25%;
    left:48%;
    height: 95px;
    width: 12px;
    /* display: none; */
    opacity: 70%;
    z-index: 2;
}
#minute{
    position: absolute;
    top: 14.5%;
    left: 48.2%;
    height: 128px;
    width: 10px;
    /* display: none; */
    opacity: 70%;
    z-index: 1;
}
#second{
    background: red;
    position: absolute;
    top: 10.5%;
    left: 48.55%;
    height: 140px;
    width: 7px;
    opacity: 70%;
  z-index: 0;
}